.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
}

.navbar {
  display: flex;
  width: 100%;
  top: 0;
  position: fixed;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: "VT323", monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
}

.score {
  color: #ffffff;
  font-size: 20px;
  font-family: "VT323", monospace;
}

.board {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  width: max-content;
  margin-top: 10px;
}

.cell {
  background-color: #000;
  width: 20px;
  height: 20px;
  border: none;
}

.food {
  background-image: url("/solana-sol-logo.png");
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  border: none;
}

.snake {
  background-color: green;
  width: 20px;
  height: 20px;
  border: none;
}

.play {
  font-size: 60px;
  font-family: "VT323", monospace;
  margin-top: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.play:focus {
  outline: none;
}
